.kubbur1 {
    -fx-background-image: url("/vidmot/css/myndir/mynd1.png");
    -fx-background-size: cover;
}

.kubbur2 {
    -fx-background-image: url("/vidmot/css/myndir/mynd2.png");
    -fx-background-size: cover;
}

.kubbur3 {
    -fx-background-image: url("/vidmot/css/myndir/mynd3.png");
    -fx-background-size: cover;
}

.kubbur4 {
    -fx-background-image: url("/vidmot/css/myndir/mynd4.png");
    -fx-background-size: cover;
}

.kubbur5 {
    -fx-background-image: url("/vidmot/css/myndir/mynd5.png");
    -fx-background-size: cover;
}

.kubbur6 {
    -fx-background-image: url("/vidmot/css/myndir/mynd6.png");
    -fx-background-size: cover;
}

.kubbur7 {
    -fx-background-image: url("/vidmot/css/myndir/mynd7.png");
    -fx-background-size: cover;
}

.kubbur8 {
    -fx-background-image: url("/vidmot/css/myndir/mynd8.png");
    -fx-background-size: cover;
}
.kubbur9 {
    -fx-background-image: url("/vidmot/css/myndir/mynd9.png");
    -fx-background-size: cover;
}